#root {
  max-width: 1280px;
  margin: 0 auto;
}

.restart-btn-section{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.restart-btn-section button{
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #3b7546;
  color: white;
  border: none;
  border-radius: 5px;
}
