

.board-header{
    margin-top : 30px;
    border-top: 2px rgb(112, 112, 112) solid;
    border-bottom: 2px rgb(112, 112, 112) solid;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}